<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="16px"
  fxLayoutAlign="flex-start"
>
  <app-album-card
    *ngFor="let result of results"
    fxFlex="0 1 calc((100% )/4 - 16px)"
    class="album-card"
    [album]="result"
  ></app-album-card>
</div>

<style>
  .album-card {
    margin-bottom: 20px;
  }
</style>
