<mat-card>
  <mat-card-title fxLayout="row" (click)="toggle()">
    <span fxFlex="1 1 100%">
      <ng-content select="app-tab-panel-header"></ng-content>
    </span>
    <span fxFlex="1 1 100%"></span>
    <mat-icon>{{open? 'expand_less' : 'expand_more'}}</mat-icon>
  </mat-card-title>

  <mat-card-content *ngIf="open">
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
