<form [formGroup]="searchForm" (ngSubmit)="submit()">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <!--  -->
    <ng-container *ngIf="searchForm.get('query') as field">
      <mat-form-field fxFlex="1 1 100">
        <mat-label>Search</mat-label>

        <!-- <input type="text" matInput [formControl]="searchForm.get('query')"/> -->
        <input
          type="text"
          matInput
          formControlName="query" 
          [errorStateMatcher]="errorMatcher"
        />

        <!-- <mat-hint></mat-hint> -->
        <mat-error *ngIf="field.hasError('required')">
          Field is required
        </mat-error>
        <mat-error *ngIf="field.getError('minlength') as error">
          Minimum {{ error.requiredLength }} characters required
        </mat-error>
        <mat-error *ngIf="field.getError('censor') as error">
          Cannot contain "{{ error.badword }}"
        </mat-error>
      </mat-form-field>
    </ng-container>

    <!--  -->
    <button mat-fab color="primary" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <!-- <p *ngIf="field.getError('minlength') let error = $implicit"> -->
  <!-- <p *ngIf="field.getError('minlength') $implicit as error"> -->

  <!-- <ng-container *ngIf="searchForm.get('query') as field">
    <ng-container *ngIf="field.dirty || field.touched">
      <p *ngIf="field.hasError('required')">Field is required</p>
      <p *ngIf="field.getError('minlength') as error">
        Minimum {{ error.requiredLength }} characters required
      </p>
    </ng-container>
  </ng-container> -->
  <!-- <my-form-error [control]="searchForm.get('query')"> -->
  <!-- <my-form-error>Error, control inected from parent -->

  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    formGroupName="extras"
  >
    <div fxFlex="1 1 100" *ngIf="advancedOpen">
      <mat-form-field fxFlex="1 1 100px">
        <mat-label>Type</mat-label>

        <!-- <input type="text" matInput [formControl]="searchForm.get('query')"/> -->
        <mat-select matInput formControlName="type">
          <mat-option value="album">Album</mat-option>
          <mat-option value="artist">Artist</mat-option>
        </mat-select>

        <mat-hint></mat-hint>
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="1 1 100" *ngIf="!advancedOpen"></div>
    <a
      href="#"
      fxFlex=" 1 1 100px"
      fxFlexAlign="baseline"
      (click)="advancedOpen = !advancedOpen"
    >
      Advanced
    </a>
  </div>
</form>
