@use 'sass:map';
@use '~@angular/material' as mat;
// @use '~@angular/material/theming' as theming;
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// @import "@angular/material";

$my-primary: mat.define-palette(mat.$indigo-palette, 800);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

$config: mat.get-color-config($my-theme);
$background: map.get($config, background);
$foreground: map.get($config, foreground);

@include mat.core();
@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

[mat-list-item].mat-list-item-active {
  &,
  &:hover {
    // font-size: 20px;
    background-color: mat.get-color-from-palette($my-primary) !important;
    color: mat.get-color-from-palette($my-primary, "500-contrast");
  }
}
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
