<div
  fxFlex="1 1 80%"
  fxFlex.gt-sm="1 1 900px"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="20px"
  style="margin: 20px auto"
>
  <app-search-form
    fxFlex="1 1 100"
    [query]="query | async"
    (search)="search($event)"
  ></app-search-form>

  <div *ngIf="results | async as albums" fxLayout="column">
    <p>Found {{ albums.length }} results</p>

    <app-search-results
      fxFlex="1 1 100"
      [results]="albums"
    ></app-search-results>
  </div>

  <app-recent-searches></app-recent-searches>
</div>
