<mat-card>
  <!-- <mat-card-header> -->
  <!-- <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  <ng-content select="card-header"></ng-content>
  <!-- </mat-card-header> -->

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
