<app-navigation>
  <div ngProjectAs="mat-nav-list">
    <!-- <mat-nav-list>
      <a mat-list-item href="#/music/search">Search</a>
      <a mat-list-item href="#/playlists">Playlists</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list> -->
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Home</a>
      <a mat-list-item routerLink="/music/search">Search</a>
      <a mat-list-item routerLink="/playlists">Playlists</a>
    </mat-nav-list>
    <app-recent-searches></app-recent-searches>
  </div>
  <router-outlet></router-outlet>
</app-navigation>
