<div style="padding: 30px">
  <h3>Tab-experiments!</h3>

  <app-tab-panel>
    <app-tab-panel-header> Standalone Panel A </app-tab-panel-header>
    <div>Standalone Panel A content</div>
  </app-tab-panel>

  <mat-divider> </mat-divider>

  <app-tab-panels accordion>
    <app-tab-panel>
      <app-tab-panel-header> Panel A </app-tab-panel-header>
      <div>Panel A content</div>
    </app-tab-panel>
    <app-tab-panel>
      <app-tab-panel-header> Panel b </app-tab-panel-header>
      <div>Panel b content</div>
    </app-tab-panel>
    <app-tab-panel>
      <app-tab-panel-header> Panel c </app-tab-panel-header>
      <div>Panel c content</div>
    </app-tab-panel>
  </app-tab-panels>

  <mat-divider> </mat-divider>

  <app-tab-panels accordion>
    <app-tab-panel>
      <app-tab-panel-header> Panel B </app-tab-panel-header>
      <div>Panel B content</div>
    </app-tab-panel>

    <app-tab-panel *ngFor="let panel of panels">
      <app-tab-panel-header> Panel {{ panel }} </app-tab-panel-header>
      <div>Panel {{ panel }} content</div>

      <button mat-raised-button (click)="removePanel(panel)">
        remove Panel
      </button>
    </app-tab-panel>
  </app-tab-panels>

  <button mat-raised-button (click)="addPanel()">Add Panel</button>
</div>
