<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]=" false">
      <!-- [mode]=" 'side' " -->
      <!-- [opened]="(isHandset$ | async) === false"> -->
    <mat-toolbar color="primary">Menu</mat-toolbar>
    
    <ng-content select="mat-nav-list"></ng-content>
   
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async"> -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MusicApp</span>
      <div fxFlex="1 1 100%"></div>
      <app-clock></app-clock>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>
