<div [attr.data-playlist-id]="playlist.id" [title]="playlist.name" fxLayout="column" fxLayoutGap="20px">
    <mat-list>
        <mat-list-item>
            <span matLine>Name:</span>
            <span fxFlex="1 1 60%" [ngStyle.gt-sm]="{
                'fontSize.px': 30   
            }">{{playlist.name | titlecase}}</span>
            <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
            <span matLine>Public:</span>
            <span fxFlex="1 1 60%" [style.color]="playlist.public ? 'red' : 'blue'">
                <!-- {{playlist.public ? 'Yes' : 'No'}} -->
                {{playlist.public | yesno }}
            </span>
            <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
            <span matLine>Description:</span>
            <span fxFlex="1 1 60%">{{playlist.description}}</span>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <button fxFlexAlign="start" mat-raised-button color="primary" (click)="editClick($event)">Edit</button>

</div>