<form fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <!-- <pre>{{playlist | json}}</pre> -->

  <mat-form-field appearance="standard">
    <mat-label>Name:</mat-label>
    <input
      matInput
      name="name"
      [(ngModel)]="playlist.name"
      required
      #nameInput
    />
    <mat-hint>{{ nameInput.value.length }} / 170</mat-hint>
    <mat-error>Field is required</mat-error>
  </mat-form-field>

  <mat-checkbox name="public" [ngModel]="playlist.public">Public</mat-checkbox>

  <mat-form-field appearance="standard">
    <mat-label>Description:</mat-label>
    <textarea
      matInput
      name="description"
      [ngModel]="playlist.description"
    ></textarea>
  </mat-form-field>

  <div fxLayout=" row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <button
      fxFlexAlign="start"
      mat-raised-button
      color="warn"
      (click)="cancelClick()"
    >
      Cancel
    </button>
    <button
      fxFlexAlign="end"
      mat-raised-button
      color="primary"
      (click)="saveClick()"
    >
      Save
    </button>
  </div>
</form>
