<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
  fxFlexFill
>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <button mat-fab (click)="dec()">-</button>
    <h1>
      {{ counter$ | async }}
    </h1>
    <button mat-fab (click)="inc()">+</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <button mat-raised-button (click)="reset()">Reset</button>
  </div>
</div>
