
<mat-action-list>

    <button mat-list-item
            [class.mat-list-item-active]=" playlist.id === selectedId"
            (click)="select(playlist.id)"
            
    *ngFor="let playlist of playlists; index as i">
        <span matLine>{{i+1}}. {{playlist.name}} </span>
        <mat-divider></mat-divider>
    </button>

</mat-action-list>
