<div
  fxFlex="0 1 90%"
  fxFlex.sm="0 1 80%"
  fxFlex.gt-sm="0 1 900px"
  fxLexAlign="center"
  fxLayout="column"
  fxLayout.gt-xs="row"
  fxLayoutGap="20px"
  style="margin: 20px auto"
  fxLayoutAlign="space-between"
>
  <div fxFlex="100">
    <app-playlist-list
      [items]="(playlists$ | async) || []"
      [selectedId]="(playlist$ | async)?.id"
      (selectedIdChange)="selectPlaylistById($event)"
    >
    </app-playlist-list>
  </div>
  <div
    fxFlex="100"
    fxLayout="column"
    fxLayoutGap="20px"
    *ngIf="playlist$ | async as selectedPlaylist"
  >
    <ng-container [ngSwitch]="mode$ | async" *ngIf="selectedPlaylist">
      <app-card *ngSwitchDefault>
        <ng-container ngProjectAs="card-header">
          <h3>Playlist Details</h3>
        </ng-container>

        <app-playlist-details
          (edit)="editPlaylist($event)"
          [playlist]="selectedPlaylist"
        >
        </app-playlist-details>
      </app-card>

      <app-card *ngSwitchCase="'edit'">
        <ng-container ngProjectAs="card-header">
          <h3>Playlist Edit</h3>
        </ng-container>

        <app-playlist-edit-form
          [playlist]="selectedPlaylist"
          (cancel)="showPlaylist(selectedPlaylist.id)"
          (save)="savePlaylist($event)"
        ></app-playlist-edit-form>
      </app-card>
    </ng-container>
  </div>
</div>
